@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
@font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.font-link{
    font-family: 'Diphylleia', serif;
}

.font-import{
    font-family: 'Moirai One', cursive;
}
.noonNu-font{
    font-family: 'HANAMDAUM';
}

.container {
    width: 500px;
    background-color: aliceblue;
}

.sentences{
    font-weight: 400;
    font-size: 1em;

    text-align: center;

    text-decoration: line-through;
    text-decoration: overline;
}

a{
    text-decoration: none;
    color: black;
}